$breakpoint--phone: 640px;

$font-size-small--desktop: 14px;
$font-size-medium--desktop: 16px;
$font-size-small--mobile: 12px;
$font-size-medium--mobile: 13px;
$font-weight--normal: 400;
$font-weight--bold: 500;
