@import 'src/styles/_variables.scss';

.sidebar--container {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 0px 20px;
  justify-content: space-evenly;
  height: 100px;
  
  .ml10 {
    margin-left: 10px;
  }

  .filters--text {
    font-size: $font-size-medium--desktop;
    font-weight: $font-weight--bold;
  }

  .filter-values--text {
    display: flex;
    align-items: center;
    font-size: $font-size-small--desktop;
    font-weight: $font-weight--normal;
  }

  @media (max-width: $breakpoint--phone) {
    .filters--text {
      font-size: $font-size-medium--mobile;
    }
  
    .filter-values--text {
      font-size: $font-size-small--mobile;
    }
  }
}